# docker
DOCKER_USER=ozcodingschool
DOCKER_REPOSITORY=ai-health

# fastapi
ENV=local
APP_VERSION=v1.0.0
SECRET_KEY=oz-codingschool-AI-health260127!@
COOKIE_DOMAIN=localhost

# ai-worker
AI_WORKER_VERSION=v1.0.0

# db
DB_HOST=mysql
DB_PORT=3306
DB_EXPOSE_PORT=3306
DB_USER=app_user
DB_PASSWORD=db_password
DB_ROOT_PASSWORD=root_password
DB_NAME=five_pills
SQLALCHEMY_ECHO=false
